NAME = "Microservice-sys"
ENV = "development"
DEBUG = true
HTTPS_ENABLED = false
ENABLE_MEMORY_MONITORING = false

# CORS Configuration
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:8080,https://yourdomain.com"

#DB
DB_TYPE = "sqlite" # mysql, sqlite
# Mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=microservices_db
DB_CONNECTION_LIMIT=10
# SQLite
DBFILE = "db.sqlite"

# Token
algorithm = "aes-256-cbc"
accessTokenKey = ""
refressTokenKey = ""

# Mail
service = 'gmail'
host = 'smtp.gmail.com'
port = 465
secure = true
user = ''
pass = ''

# Upload Path
path = "./public"

#Language
default_language = "en"
