NAME = "Microservice-sys"
ENV = "development"
DEBUG = true
HTTPS_ENABLED = false
ENABLE_MEMORY_MONITORING = false

# CORS Configuration
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:8080,https://yourdomain.com"

#DB
DB_TYPE = "sqlite" # mysql, sqlite
# # sqlite
DATABASE_URL="file:./dev.db" #sqlite
# # mysql
DB_HOST= "192.168.29.39"
DB_PORT= "3306"
DB_DATABASE= "swiftsos"
DB_USER= "appuser"
DB_PASSWORD= "12345"

# Token
algorithm = "aes-256-cbc"
accessTokenKey = ""
refressTokenKey = ""

# Mail
service = 'gmail'
host = 'smtp.gmail.com'
port = 465
secure = true
user = ''
pass = ''

# Upload Path
path = "./public"

#Language
default_language = "en"
